.ui.stackable.three.column.centered.grids.cards
  each book in books
    .ui.card
      a(href=book.url target="_blank")
        img.ui.centered.image.small(src=book.image)
      .content
        a.header #{book.title}
        if book.authors
          p Written By #{formatForDisplay(book.authors)}
      .meta
        if book.publisher
          p Published by #{book.publisher}